:root{
  --color1: #5465FF;
  --color2: #788BFF;
  --color3: #9BB1FF;
  --color4: #BFD7FF;
  --color5:#E2FDFF;
}
*{
  padding: 0;
  margin: 0; 
  font-family: 'Roboto', Courier, monospace;
  scrollbar-gutter: auto;
}
.navbar{
  font-family: 'Roboto Condensed', sans-serif;
  .navbar-brand{
    font-family: 'Roboto Condensed', Courier, monospace;
  }
  .nav-item{
    font-family: 'Roboto', Courier, monospace;
  } 
  .nav-item a:hover,
  .nav-item button:hover{
    color:var(--color3);
  }
  .active{
    color: var(--color1) !important;
    font-weight: 600;
  }
}
main{
  padding-top: 75px;
}
.carousel-item{
  height: 70vh;
}
.carousel img{
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.boxCape{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000081;
}
.cardsMain img{
  margin: 10px 0;
  min-height: 35vh;
  max-height: 35vh;
}
.cardsMain h4{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}
.cardsMain h5,
.cardsMain p{
  font-family: 'Roboto', sans-serif;
}
.card{
  max-width: 550px;
  border: 2px outset var(--color3);
  transition: width .3s;
  box-shadow: 3px 3px 20px gray;
}
.list-unstyled a{
  text-decoration: none;
  color: var(--color1);
}
.list-unstyled a:hover{
  color: var(--color3);
}
.anuncio{
  cursor: pointer;
}
.loginContainer a{
  color: var(--color1);
}
.loginContainer .btn{
  background-color: var(--color1);
}
.imgLogin img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.loginOptions img{
  filter: grayscale(.4);
}
.seccionFotos img{
  object-fit: cover;
  margin: 5px 0;
  transition: .2s;
}
.seccionFotos img:hover{
  scale: 1.17;
  transition: .5s;
}
.seccionFotos h1{
  font-family: 'Roboto Condensed', sans-serif;
}
.contactSection{
  background: url(https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: top;
  background-size: cover;
  .form-label{
    color: white;
  }
  .form-control,
  .form-control-plaintext{
    opacity: .5;
    outline: 0px;
  }
  .form-control:focus,
  .form-control-plaintext:focus{
    opacity: 1;
    transition: opacity .5s;
  }
}
.contactSection iframe{
  opacity: .8;
  transition: opacity .5s;
}
.contactSection iframe:hover{
  opacity: 1;
  transition: .2s;
}
.contactSection h1, 
.contactSection h2,
.loginContainer h1,
.sectionModal h1{
  font-family: 'Roboto Condensed', sans-serif;
}
.entrada1 p:nth-child(1)::first-letter{
  font-size: 3em;
  line-height: 50px;
  color: var(--color1);
}
.entrada1{
  .display-5{
    color: var(--color3);
  }
  .display-4{
    color: var(--color1);
  }
}
.entrada1 form{
  max-width: 100%;
}
.aside2 li{
  text-align: center;
  letter-spacing: 4px;
}
.aside a{
  font-family: 'Roboto Condensed', sans-serif;
}
.aboutUs img{
  width: 150px;
}
footer .bi{
  color: gray;
}
footer .bi:hover{
  color: white;
  transition: .4s;
}
footer img{
  max-width: 150px !important;
  justify-self: center;
}


@media screen and (max-width:425px) {
  .loginOptions a img{
    width: 100%;
  }
}
@media screen and (max-width:820px) {
  .carousel-item{
    height: 37vh;
  }
  iframe{
    width: 100%;
  }
}
@media screen and (max-width:992px) {
  .anuncio{
    max-height: 25vh;
    object-position: bottom;
  }
}
@media screen and (min-width:992px) {
  .cardsMain .card:hover{
    width: 50%;
    transition: all .3s;
  }
}